/nbproject/private/
/dbs/porsiacaso/
/tmp/
/escritorio/config.php.dev
/escritorio/config.php.biom
/escritorio/config.php.orig
/nbproject/
/conf/configure.files
/startup.cfg
/vhost/escritorio/config.php
/conf/configure.cfg
/conf/app_config.sql
/conf/grants.sql
/vhost/escritorio/config_tite.php