
.dia {
   width: 20px;
}

.mes {
   width: 20px;
}

.anyo {
   width: 35px;
}

.planta {
   width: 20px;
}

.pasillo {
   width: 20px;
}

.columna {
   width: 20px;
}

.fila {
   width: 20px;
}

.lote {
   width: 35px;
}

.cantidad {
   width: 35px;
}

